html{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: beige;
}

img{
    display: block;
    max-width: 400px;
    margin-left: 275px;
    margin-right: 250px;
}

header{
    font-size: 30px;
}

p{
    margin-left: 200px;
    margin-right: 200px;
}

h1{
    margin-top: 50px;
}
